.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #4e5ab4;
  padding: 20px 20px;
  align-items: center;
}

.navbar h1 {
  margin: 0;
  font-size: 25px;
  color: aliceblue;
  display: flex;
  align-items: center;
}

.navbar h1 span {
  margin-right: 15px;
  font-size: 30px;
  display: flex;
}

.navbar input {
  margin: 0;
  width: 30%;
  height: 30px;
  font-size: 18px;
  text-align: center;
  border-radius: 15px;
}
